copy .env.example .env
LANGFUSE_SECRET_KEY="sk-lf-b345b4c7-23e9-4a65-98b2-6bff76051606"
LANGFUSE_PUBLIC_KEY="pk-lf-8bc4cadd-f2d5-4411-b954-363e132c4a54"
LANGFUSE_BASE_URL="https://cloud.langfuse.com"
